body{
    border: 10px double black;
    font-family:Arial, Helvetica, sans-serif;
    background-color:azure;
}
#we{
    padding-left: 250px;
    padding-top: 100px;
    margin-left: 100px;
}
#zx{
    padding-left: 100px;
    padding-top: 100px;
}
#we:hover{
    opacity: 0.5;
    cursor:pointer;
}
#bn:hover{
    opacity: 0.5;
    cursor:pointer;
}
#zx:hover{
    opacity: 0.5;
    cursor:pointer;
}
.qw{
    display: inline-flex;
    list-style-type: none;
    border-radius: 50%;
}
#as{
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
#bn{
    padding-left: 100px;
    padding-top: 100px;
}
#th{
    font-size:larger;
    margin-top: 0px;
}
#r{
    padding-left: 450px;
}
#p{
    padding-left: 200px;
}
#s{
    padding-left: 165px;
}
#er{
    font-size:larger;
    margin-top: 0px;
    margin-bottom: 0px;
}
#jh{
    padding-left: 650px;
}
#po{
    padding-left: 50px;
}
#button1{
    margin-left: 660px;
}
#button2{
    margin-left: 100px;
}
#lk{
    margin-left: 1400px;
    margin-top: 80px;
}
#t{
    margin-top: 0px;
    margin-bottom: 0px;
}
#yp{
    margin-left: 600px;
    font-size: xx-large;
    background-color: blue;
    border-width: 250px;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 250px;
}
#l{
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 0px;
}
#lo{
    float: right;
}
.dark{
    background-color: black;
    color: white;
    border: 10px double white;
    
}
.light{
    background-color: white;
    color: black;
}
