body{
    border: 10px double black;
    font-family:cursive;
    background-color:azure;
}
#we{
    padding-left: 250px;
    padding-top: 100px;
}
#zx{
    padding-left: 100px;
    padding-top: 100px;
}
.qw{
    display: inline-flex;
    list-style-type: none;
}
#as{
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
#bn{
    padding-left: 100px;
    padding-top: 100px;
}
#th{
    font-size:larger;
}
#r{
    padding-left: 350px;
}
#p{
    padding-left: 200px;
}
#s{
    padding-left: 165px;
}
#er{
    font-size:larger;
    margin-top: 0px;
    margin-bottom: 0px;
}
#jh{
    padding-left: 550px;
}
#po{
    padding-left: 50px;
}
#button1{
    margin-left: 580px;
}
#button2{
    margin-left: 100px;
}
#lk{
    margin-left: 1400px;
    margin-top: 90px;
}
#t{
    margin-top: 0px;
    margin-bottom: 0px;
}
#yp{
    margin-left: 500px;
    font-size: xx-large;
    background-color: blue;
    border-width: 250px;
    color: white;
    font-weight: bolder;
}
#l{
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 0px;
}
#lo{
    float: right;
}
